*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fdfdfd;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: auto;
}

@font-face {
  font-family: Roboto;
  src: url(../Roboto-Medium.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #8d4205b7;
}

.header-logo {
  max-width: 150px;
  width: 100%;
  border-radius: 15px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__item {
  text-decoration: none;
  margin-left: 190px;
  color: #fdfdfd;
  font-weight: bold;
  font-size: 19px;
}

.header-nav__item:hover {
  border-bottom: 1.5px solid #fdfdfd;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1350px;
  width: 100%;
}

.hero {
  padding-top: 100px;
  background: #ad5c1ab7;
  padding-bottom: 80px;
}

.hero-title {
  max-width: 500px;
  font-size: 25px;
  margin-bottom: 130px;
  font-weight: bold;
}

.hero-img {
  max-width: 700px;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.hero-img::after {
  content: '';
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  position: absolute;
  border: 5px solid #fdfdfd;
}

.hero-list__item {
  margin-bottom: 15px;
  font-size: 18px;
  opacity: 0.7;
}

.container-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.promo-bag {
  background: url("../img/promo.jpg") no-repeat center/cover;
  padding: 100px 0;
}

.promo-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #000000b7;
  border-radius: 10px;
  padding: 20px 15px;
}

.promo-text__title {
  margin-bottom: 30px;
  font-size: 40px;
}

.promo-text__text {
  font-size: 25px;
}

.promo-text__motto {
  font-size: 25px;
  margin-top: 30px;
}

.feedback {
  padding-top: 50px;
  padding-bottom: 50px;
}

.feedback-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  color: #664106;
}

.feedback-bag {
  background: #ad5c1ab7;
}

.feedback-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-container-item {
  margin-right: 70px;
  background: #ad5c1ab7;
  padding: 15px 15px;
  border-radius: 7px;
  border: 2px solid #000000b7;
}

.feedback-container-item__name {
  margin-bottom: 15px;
  position: relative;
}

.feedback-container-item__text {
  max-width: 300px;
  opacity: 0.7;
}

.form {
  padding: 100px 100px;
  background: #c28c60b7;
}

.form-form {
  border: 2px solid #855228;
  padding: 20px 50px;
  background: #d68a4b;
  border-radius: 7px;
}

.form-form__title {
  color: #000000b7;
}

.form-form__img {
  border: 3px solid #111;
}

.form-form__label {
  color: #000000b7;
}

.form-form__select {
  margin-bottom: 15px;
}

.form-form__title {
  margin-bottom: 25px;
}

.form-date {
  margin-bottom: 15px;
}

.form-date__label {
  color: #000000b7;
}

.form-people {
  margin-bottom: 15px;
}

.form-people__label {
  color: #000000b7;
}

.button {
  padding: 10px 40px;
  border-radius: 5px;
  background: #814819;
  color: #fdfdfd;
  width: 216px;
  font-weight: bold;
  cursor: pointer;
}

.container-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action {
  background: #926a2a;
  padding: 70px 150px;
}

.action-img {
  width: 500px;
  border-radius: 10px;
}

.action-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-desc {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.action-desc__title {
  margin-bottom: 15px;
  font-size: 30px;
}

.action-desc__text {
  max-width: 400px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.7;
}

.action-list {
  display: flex;
  flex-direction: column;
}

.action-list__title {
  margin-bottom: 15px;
  font-size: 27px;
}

.action-list-all__item {
  margin-bottom: 10px;
  font-weight: bold;
  opacity: 0.7;
}

.action-list-all__item:last-of-type {
  margin: 0;
}

.action-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-button-button {
  margin-top: 20px;
  padding: 15px 25px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background: #814819;
  color: #fdfdfd;
}

.container-action {
  max-width: 100%;
}

.closed {
  padding: 100px 100px;
  background: url("../img/closed.jpg") no-repeat center/cover;
  border-top: 2px solid #000000b7;
}

.closed-menu {
  background: #000000b7;
  padding: 20px 30px;
  border-radius: 10px;
}

.closed-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closed-desc__title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
}

.closed-desc__text {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  opacity: 0.7;
}

.container-closed {
  max-width: 100%;
  justify-content: center;
}

.form-closed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.form-closed__input {
  margin-bottom: 15px;
  padding: 7px 15px;
  border-radius: 7px;
  border: 2px solid #000000b7;
  background: #ebdacd;
}

.button-closed {
  padding: 7px 15px;
  border-radius: 7px;
  border: 2px solid #000000b7;
  background: #ebdacd;
  opacity: 0.7;
}

.footer {
  padding: 50px 100px;
  background: #8d4205b7;
  border-top: 2px solid #000;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-contact__text {
  margin-bottom: 10px;
}

.footer-contact__tel {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-call {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: none;
  margin-left: 30px;
}

.footer-call__return {
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.footer-call__feedback {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kemping {
  padding: 100px;
  background: #291d06;
}

.kemping-map {
  margin-top: 100px;
  margin-right: 30px;
  font-weight: bold;
  background: #53380c;
  padding: 40px 50px 30px 40px;
  border-radius: 5px;
}

.kemping-map__title {
  margin-bottom: 30px;
  color: #d4a876;
  font-size: 40px;
}

.kemping-map__region {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 28px;
  color: #c07a2a;
}

.kemping-map__name {
  max-width: 300px;
  margin-bottom: 20px;
}

.kemping-map__number {
  margin-bottom: 20px;
}

.kemping-map__region1 {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #c07a2a;
}

.kemping-info {
  display: flex;
}

.kemping-info__img {
  width: 600px;
  margin-left: 70px;
  border-radius: 7px;
  border: 2px solid #000000b7;
}

.kemping-info1 {
  display: flex;
  justify-content: end;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container1 {
  display: block;
  width: 100%;
  margin: auto;
}

.container1-kemping {
  max-width: 100%;
}

.button-kemping {
  margin-top: 15px;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */