.promo
    &-bag
        background: url('../img/promo.jpg') no-repeat center / cover
        padding: 100px 0
    &-text
        text-align: center
        display: flex
        flex-direction: column
        justify-content: space-between
        background: $dark
        border-radius: 10px
        padding: 20px 15px
        &__title
            margin-bottom: 30px
            font-size: 40px
        &__text
           font-size: 25px
        &__motto
            font-size: 25px
            margin-top: 30px
    &-feedback
        background: $brown
        padding-top: 50px
        padding-bottom: 50px
        &-people
            &__title
                background: #a36824
                margin-bottom: 8px
                padding: 10px 10px
                border-radius: 8px
                position: relative
                &::before
                    content: ''
                    width: 5px
                    height: 10px
                    top: 41px
                    left: 145px
                    position: absolute
                    background: #664116
            &__one
                max-width: 300px
                font-size: 18px
                background: #a36824
                padding: 10px 10px
                border-radius: 8px
        
